/*
TABLE OF CONTENTS
********************************
1) STARTUP - ROOT/VARIABLES
2) DESKTOP VIEW
3) TABLET/MOBILE DEFAULT SETTINGS
    3a) SPECIFIC TABLET VIEW CONFIGURATIONS
    3b) SPECIFIC MOBILE VIEW CONFIGURATIONS
4) WEBKIT ANIMATION
********************************
*/






/**************** 1) STARTUP - ROOT/VARIABLES ****************/
@charset "UTF-8";

:root {
    --font-family-default: "Rubik", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", helvetica, arial, sans-serif;
    --normal-font-color: rgb(255, 255, 255);
    --background-color-default-rgb: 51, 51, 51;
    --logo-height: 75px;
}

/* Applied for all views (e.g., desktop, tablet, and mobile */
html, html * {
    box-sizing: border-box;
    font-family: var(--font-family-default); 
}

body {
    background: url("https://images.pexels.com/photos/1036808/pexels-photo-1036808.jpeg");
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}


/* Main Content (so it does not become all the way to the edge of the page...) */
.main__page {
    background-color: rgba(var(--background-color-default-rgb), 0.95);
    color: var(--normal-font-color);
    padding: 24px 36px; /* veritical | horizontal */
    margin: 1em 4em 1em 4em; /* top | right | bottom |left */
    min-height: 100px;
    overflow: hidden;
}

.highlight {
    background-color: rgba(160, 234, 240, 0.8);
    color: black;
}

table {
    border: 3px solid gray;
    margin: 0.25em;
}

th, td {
    border: 1px solid gray;
    padding: 0.25em;
    min-width: 10em;
}

/* Adjust font size of input boxes in tables */
table input {
    font-size: 9pt !important;
}

.force-border-remove { 
    border-collapse: collapse;
    border-style: hidden;
}

.of-wrap {
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    hyphens:manual;
}

#notes {
    white-space: pre-wrap;
}

.flash-notif {
    background-color: indigo;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-bottom: 0.5em;
    text-align: center;
}

#timerNoDisplay {
    -moz-animation: cssAnimation 0s ease-in 10s forwards; /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 10s forwards; /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 10s forwards; /* Opera */

    animation: cssAnimation 0s ease-in 10s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow: hidden;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        display: none;
    }
}

/* .button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
} */

.calendar-class{
    margin: 0;
    padding: 0;
    margin-left: -15%;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.container{
    width: 100%;
    /* height: 50vh; */
    align-items: center;
    display: flex;
    justify-content: center ;
    padding-top: 2rem;
    padding-bottom: 30rem;

}

.calendar-class div{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 85%;
}
 
.container{
    width: 100%;
    height: 100vh;
    /* background-color: #12121f; */
    color:#eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar{
    width: 45rem;
    height: 52rem;
    background-color: #1b1a1a;
    box-shadow: 0 0.5rem 3rem rgba(0,0,0,4);
   
}

.month{
    width: 100%;
    height: 12rem;
    background-color: #2b0c0c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
}

.month i{
    font-size: 2.5rem;
    cursor: pointer;
   
}

.month h{
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}
.month p{
    font-size: 1.6rem;
}

.weekdays{
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: .2rem;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
}

.days div{
    font-size: 1.4rem;
    margin: .3rem;
    width: calc(40.2rem/7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
    transition: background-color 0.2s;
}

.days div:hover:not(.today){
    background-color: #555;
    border: 0.2rem solid #777;
    cursor: pointer;
}

.prev-date, .next-date{
    opacity: 50%;
}

.today{
    background-color: #2b0c0c;
}

.reminders h2{
    text-decoration: underline;
    margin-left: 73%;
    margin-top: -65%;
    margin-bottom: 65%;
}

.reminders section{
    margin-left: 60%;
    margin-top: -63%;
    margin-bottom: 65%;
}

.reminders section input[type=text] {
    margin:0 0 15px 0;
    background:#555;
    color:white;
    border:1px solid white;
    border-radius:1px;
    padding:5px;
    font-size:14pt;
    font-weight:normal;
    outline:none;
    float:left;
    width:calc(100% - 50px);
    cursor:pointer;
  }

  .reminders section input[type=button] {
    margin:0 0 15px 0;
    margin-bottom: 150%;
    border:1px solid white;
    background:#555;
    color:white;
    border-radius:1px;
    padding:5px;
    font-size: 19pt;
    line-height:1;
    font-weight:bold;
    outline:none;
    width:35px;
    float:right;
    cursor:pointer;
  }






/**************** 2) DESKTOP VIEW ****************/
/* only enables this CSS code block whenever the width of the screen is greater than 1024 pixels */
@media screen and (min-width: 1024px) {
    /* ".desktop" and ".mobile" are used to control viewing desktop and tablet/mobile designs */
    /* "display: unset" means display */
    /* "display: none" means do not show */

    .desktop {
        display: unset;
    }
    .mobile {
        display: none;
    }

    /* Logo height set */
    .logo {
        height: var(--logo-height);
    }

    /* External link hover transition */
    a {
        transition: 0.3s;
    }

    a:hover{
        color:#4c9ae4;
    }

    /* For disabled links or text */
    .disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    /* Text of navigation links are forced specified color */
    .navbar-light ul > li > a {
        color: var(--normal-font-color) !important;
        transition: 0.1s;
    }

    .navbar-light ul > li > a:hover {
        opacity: 0.5;
        background-color: #555;
    }

    /* Custom background-color for navigation background color */
    .bg-custom {
        background-color: rgba(var(--background-color-default-rgb), 0.98);
    }

    /* Fully hide mobile navigation bar on desktop view */
    .slicknav_menu {
        display: none !important;
    }

}






/**************** 3) TABLET/MOBILE DEFAULT SETTINGS ****************/
@media screen and (max-width: 1024px) {
    /* ".desktop" and ".mobile" are used to control viewing desktop and tablet/mobile designs */
    /* "display: unset" means display */
    /* "display: none" means do not show */
    .desktop {
        display: none;
    }
    .mobile {
        display: unset;
    }

    header {
        padding: 15px;
    }

    .style-nav ul {
        background-color: #333;
        list-style-type: none;
    }

    .style-nav ul li a {
        text-decoration: none;
        color: white;
        display: block;
        text-align: center;
        text-transform: uppercase;
        padding: 8px;
        

        
    }
    
    .style-nav ul li:hover {
        background-color: #555;
    }
}






/**************** 3a) SPECIFIC TABLET VIEW CONFIGURATIONS ****************/
/* only show specific tablet configurations when screen width is between 600 pixels to 1024 pixels */
@media screen and (min-width: 600px) and (max-width: 1024px) {

    .style-nav ul li {
        display: inline-block;
    }
    
    .style-nav ul {
        text-align: center;
    }

    /* Fully hide mobile navigation bar on tablet view */
    .slicknav_menu {
        display: none !important;
    }

    .calendar-class{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Quicksand", sans-serif;
    }
    .calendar{
        width: 45rem;
        height: 56rem;
        background-color: #1b1a1a;
        box-shadow: 0 0.5rem 3rem rgba(0,0,0,4);
       
    }
}






/**************** 3b) SPECIFIC MOBILE VIEW CONFIGURATIONS ****************/
/* only show specific tablet configurations when screen width is under 600 pixels */
@media screen and (max-width: 600px) {
    .style-nav ul li {
        text-align: center;
    }

    #menu {
        display: none;
    }
}






/**************** 4) WEBKIT ANIMATION ****************/
/* Creates Rainbow animation text - from red to orange... to purple, and repeat. */
.rainbow {
    animation: RainbowName 3s infinite;
    color: red !important;
    font-weight: bold !important;
}

@keyframes RainbowName {
    from {
        -webkit-filter: hue-rotate(15deg);
        filter: hue-rotate(15deg);
    }
    to {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
/* Edit For HW 5*/
