/*
TABLE OF CONTENTS
********************************
1) STARTUP - ROOT/VARIABLES
2) DESKTOP VIEW
3) TABLET/MOBILE DEFAULT SETTINGS
    3a) SPECIFIC TABLET VIEW CONFIGURATIONS
    3b) SPECIFIC MOBILE VIEW CONFIGURATIONS
4) WEBKIT ANIMATION
********************************
*/






/**************** 1) STARTUP - ROOT/VARIABLES ****************/
@charset "UTF-8";

:root {
    --font-family-default: "Rubik", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", helvetica, arial, sans-serif;
    --normal-font-color: rgb(0, 0, 0);
    --background-color-default-rgb: 195, 238, 252;
    --logo-height: 50px;
}

/* Applied for all views (e.g., desktop, tablet, and mobile */
html, html * {
    box-sizing: border-box;
    font-family: var(--font-family-default);
}

body {
    background: url("https://i.pinimg.com/736x/48/ba/42/48ba4280002826bad53baeedae59e9c3.jpg");
    background-size: cover;
}

/* Main Content (so it does not become all the way to the edge of the page...) */
.main__page {
    background-color: #FFFFFF90; /* #RRGGBBOO, where R=red, g=green, B=blue, O=opacity*/
    padding: 24px 36px; /* veritical | horizontal */
    margin: 1em 4em 1em 4em; /* top | right | bottom |left */
    min-height: 100px;
    overflow: hidden;
}






/**************** 2) DESKTOP VIEW ****************/
/* only enables this CSS code block whenever the width of the screen is greater than 1024 pixels */
@media screen and (min-width: 1024px) {
    /* ".desktop" and ".mobile" are used to control viewing desktop and tablet/mobile designs */
    /* "display: unset" means display */
    /* "display: none" means do not show */

    .desktop {
        display: unset;
    }
    .mobile {
        display: none;
    }

    /* Logo height set */
    .logo {
        height: var(--logo-height);
    }

    a {
        transition: 0.3s;
    }

    a:hover{
        color:#4c9ae4;
    }

    a[aria-disabled="true"] {
        opacity: 0.3;
        cursor: help;
    }

    .nav-link {
        color: var(--normal-font-color) !important;
    }

    .bg-custom {
        background-color: rgba(var(--background-color-default-rgb), 0.7);
    }

    /* Fully hide mobile navigation bar on desktop view */
    .slicknav_menu {
        display: none !important;
    }

}






/**************** 3) TABLET/MOBILE DEFAULT SETTINGS ****************/
@media screen and (max-width: 1024px) {
    /* ".desktop" and ".mobile" are used to control viewing desktop and tablet/mobile designs */
    /* "display: unset" means display */
    /* "display: none" means do not show */
    .desktop {
        display: none;
    }
    .mobile {
        display: unset;
    }

    header {
        padding: 15px;
    }

    .style-nav ul {
        background-color: #333;
        list-style-type: none;
    }

    .style-nav ul li a {
        text-decoration: none;
        color: white;
        display: block;
        text-align: end;
        text-transform: uppercase;
        padding: 8px;
    }

    .style-nav ul li:hover {
        background-color: #555;
    }
}






/**************** 3a) SPECIFIC TABLET VIEW CONFIGURATIONS ****************/
/* only show specific tablet configurations when screen width is between 600 pixels to 1024 pixels */
@media screen and (min-width: 600px) and (max-width: 1024px) {

    .style-nav ul li {
        display: inline-block;
    }
    
    .style-nav ul {
        text-align: center;
    }

    /* Fully hide mobile navigation bar on tablet view */
    .slicknav_menu {
        display: none !important;
    }
}






/**************** 3b) SPECIFIC MOBILE VIEW CONFIGURATIONS ****************/
/* only show specific tablet configurations when screen width is under 600 pixels */
@media screen and (max-width: 600px) {
    .style-nav ul li {
        text-align: center;
    }
    
    .slicknav_menu {
        display: block;
    }
    
    #menu {
        display: none;
    }
}






/**************** 4) WEBKIT ANIMATION ****************/
/* Creates Rainbow animcation text - from red to orange... to purple, and repeat. */
.rainbow {
    animation: RainbowName 3s infinite;
    color: red !important;
    font-weight: bold !important;
}

@keyframes RainbowName {
    from {
        -webkit-filter: hue-rotate(15deg);
        filter: hue-rotate(15deg);
    }
    to {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}