@charset "UTF-8";
html, html *
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
header
{
	padding: 15px;
}

.slicknav_menu
{
	display: none;
}
.style-nav ul
{
	background-color: #333;
	list-style-type: none;
}

.style-nav ul li a
{
	text-decoration: none;
	color: white;
	display: block;
	text-align: end;
	text-transform: uppercase;
	padding: 8px;
}
.style-nav ul li:hover
{
	background-color: #555;
}

/* Tablet View */
@media (min-width: 600px) and (max-width: 1024px){
	.style-nav ul li{
		display: inline-block;
	}
	
	.style-nav ul
	{
		text-align: center;
	}
	
	
	
}

/* Desktop View */
/* @media (min-width: 1024px){
	.style-nav ul li
	{
		display: inline-block;
	}
	.style-nav ul{
		text-align: end;
	}
	
	
} */

/*Mobile View*/
@media (max-width: 600px)
{
	.style-nav ul li
	{
		text-align: center;
	}
	
	.slicknav_menu{
		display: block;
	}
	
	#menu{
		display: none;
	}
}
