{% extends "base.html" %}

{% block title %} About Us {% endblock %}

{% block content %}
<head>
    <title>About Us | Study University Scholar</title>
    <link rel="shortcut icon" type="image/png" href="static\pictures\SUS-Logo-Fav4.png">
</head>
<table>
    <tr>
        <img class="bio-image" src="static\pictures\ryan.jpg" style="width: 15%;">
        <h3 class ="rainbow">Ryan Nguyen</h3><a href="https://www.linkedin.com/in/ryannguyen1029/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#0077B5" d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg></a>
        <p class="biography">Hi, I am Ryan Nguyen and am currently attending San Jose State University as a third-year Computer Engineering major student. My interests are woth software, specifically with networking.</p>
    </tr>

    <tr>
        <img class="bio-image" src="static\pictures\rafael.jpg" style="width: 15%;">
        <h3 class="rainbow">Rafael Meza</h3> <a href="https://www.linkedin.com/in/rafael-meza-1917b0217/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#0077B5" d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg></a>
        <p class="biography">My name is Rafael Meza and I’m currently majoring in computer engineering. This is my third year at SJSU and plan on graduating during Fall 2023. My interest lies on working to develop a microprocessor and it’s architecture. I am more passionate about hardware than I am software. I also support the best football team out there, Real Madrid. HALA MADRID</p>
        
    </tr>

    <tr>
        <img class="bio-image" src="static\pictures\jose.jpg" style="width: 15%;">
        <h3 class="rainbow">Jose Hernandez</h3> <a href="https://www.linkedin.com/in/jose-hernandez-081315223/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#0077B5" d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg></a>
        <p class="biography">My name is Jose Hernandez. I am a Junior Computer Engineering Student at San Jose State University. My professional interest is CPU creation through software and hardware. I hope to work one day at Intel as well as Apple to create revolutionary products. My personal interests are Takuachiando and Trokiando. I yell, "No Quema Cuh" at every single cab I see. Also, Arriva Ostotan Jalisco y Teocal ALV.</p>
    </tr>

    <tr>
        <img class="bio-image" src="static\pictures\michael.jpg" style="width: 15%;">
        <h3 class="rainbow">Michael Estanilla</h3> <a href="https://www.linkedin.com/in/michael-estanilla-jr/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#0077B5" d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg></a>
        <p class="biography">My name is Michael Estanilla. I am a Computer Engineer Student at San Jose State University. As a part time job, I tutor children how to code. My interests are trying new coffee places and also watching TV Shows. For a career, I wish to work in a semiconductor company as an embedded systems and firmware design engineer.</p>
    </tr>
</table>
{% endblock %}
