{% extends "base.html" %}

{% block title %} Adding Flashcard {% endblock %}

{% block content %}
    <head>
        <title>Adding Flashcard | Study University Scholar</title>
    </head>
    <form action="#" method="post">
    <table class="force-border-remove" style="width: 100%; border: 0;">
        <tbody style="vertical-align: text-top;">
            <tr>
                <td class="force-border-remove" style="width: 50%">
                    <p>Key:<br/><textarea style="width: 100%; height: 20vh;" type="text" name="addkey" placeholder="Key">{{key if key}}</textarea></p>
                </td>
                <td class="force-border-remove">
                    <p>Value:<br/><textarea style="width: 100%; height: 20vh;" type="text" name="addvalue" placeholder="Value">{{value if value}}</textarea></p>    
                </td>
            </tr>
        </tbody>
    </table>
    <center><p><button class="btn btn-success" style="width: 40%;" type="submit">Add Flashcard</button></p></center>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="flash-notif" id="timerNoDisplay">{{msg}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}