{%extends "base.html"%}

{%block title%} Calendar {% endblock%}%

{% block content %}
<html>

    <head>
        <title>Calendar</title>
        <link rel="shortcut icon" type="image/png" href="static\pictures\SUS-Logo-Fav4.png">
        <link rel="stylesheet" href="static\css\base.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    </head>
        <body>
            <div class="calendar-class">
                <div class="container">
                    <div class="calendar">
                        <div class="month">
                            <i class="fas fa-angle-left prev"> </i>
                            <div class="date">
                                <h></h>
                                <p></p>
                            </div>
                            <i class="fas fa-angle-right next"> </i>
                        </div>
                            <div class="weekdays">
                                <div>Sun</div>
                                <div>Mon</div>
                                <div>Tue</div>
                                <div>Wed</div>
                                <div>Thu</div>
                                <div>Fri</div>
                                <div>Sat</div>
                            </div>
                            <div class="days"> 
                                
                            </div>
                            
                        
                    </div>
                </div>
            </div>
        </body>
        <script src="static\js\calendar.js"></script>
</html>
{% endblock %}