{% extends "base.html" %}

{% block title %} Change Password {% endblock %}

{% block content %}
<head>
    <link rel="shortcut icon" type="image/png" href="static\pictures\SUS-Logo-Fav4.png">
</head>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="flash-notif">{{msg}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action="#" method="post" style="text-align: center">
    <p>Old Password<br/><input style="width: 25%;" type="password" name="oldpass" placeholder="Old Password"/></p>
    <p>New Password<br/><input style="width: 25%;" type="password" name="newpass" placeholder="New Password"/></p>
    <p>New Password<br/><input style="width: 25%;" type="password" name="renewpass" placeholder="Retype New Password"/></p>
    <p><button class="btn btn-danger my-2 my-sm-0" type="submit">Change Password</button></p>
</form>
{% endblock %}
