{% extends "base.html" %}

{% block title %} Flashcards {% endblock %}

{% block content %}

<head>
    <title>Flashcards | Study University Scholar</title>
</head>

<body>
    {% for item in values %}
    {% if item %}
        {% if item.user_id == id %}
            <details>
                <summary>
                {{item.key}} <span class="icon">🔺</span>
                </summary>
                <hr style="border-color: white"/>
                <p>{{item.value}}</p>
            </details>
            <div>
        {% endif %}
    {% endfor %}
    <a class="btn btn-outline-success my-2 my-sm-0" href="add-flashcard">Add Flashcard</button></a>
</body>
{% endblock %}