{% extends "base.html" %}

{% block title %} Flashcards {% endblock %}

{% block content %}

<head>
    <title>Flashcards | Study University Scholar</title>
</head>

<body>
    {% for item in values %}
        <!-- <div>User ID: {{item.user_id}} == {{id}}</div> -->
        {% if item.user_id == id %}
            <div>Key: {{item.key}}<br/>Value:{{item.value}}<br/>User ID: {{item.user_id}}</div>
            <hr/>
        {% else %}
            <div>Key: <span style="color: red">[ REDACTED ]</span><br/>Value: <span style="color: red">[ REDACTED ]</span><br/>
            User ID: <span style="color: red">[ REDACTED ]</span></div>
            <hr/>
        {% endblock %}
        {% endif %}
    {% endfor %}
</body>
{% endblock %}