{% extends "base.html" %}

{% block title %} Grade Calculator {% endblock %}

{% block content %}
<html>
    <head>
        <title>Grade Calculator | Study University Scholar</title>
        <link rel="shortcut icon" type="image/png" href="static\pictures\SUS-Logo-Fav4.png">
    </head>

    <body>
        <table id="dataTable" border="1">
            <!-- <thead> -->
                <tr>
                    <th>Category 1 <input style="position: relative; float: right; width: 70px" type="text" placeholder="Weight (%)" id="weight"/></th>
                </tr>
            <!-- </thead> -->
            
            <!-- <tbody> -->
                <tr id="firstBodyRow">
                    <td>
                        <input type="text" style="width: 120px;" placeholder="Assignment Name" id="assignment"/>
                        <input type="text" style="width: 100px;" placeholder="Score" id="score"/>
                        <input type="text" style="width: 100px;" placeholder="Points Possible" id="pointspossible"/>
                    </td>
                </tr>
            <!-- </tbody> -->
        </table>

        <input type="button" value="+ Add Row" id="addRow"/>
        <input type="button" value="+ Add Column" id="addColumn" />
        <div style="position: relative; float: right;">
            <input type="button" value="Show Percentage" class="form-button" onclick="calculate()"/></td>
            <input type="button" value="Row Count" class="form-button" onclick="rowCount('dataTable')"/></td>
            <input type="button" value="Column Count" class="form-button" onclick="columnCount('dataTable')"/></td>
        </div>

        <div class="form-group showdata">
            <span>Results: <p id="showdata"></p></span>
        </div>

        <div class="form-group showdata">
            <span>Row Count: <p id="rowCount"></p></span>
        </div>

        <div class="form-group showdata">
            <span>Column Count: <p id="columnCount"></p></span>
        </div>
    </body>

    <script src="static\js\calculator.js"></script>
	<script src="static\js\tableManipulation.js"></script>
</html>
{% endblock %}