{% extends "base.html" %}

{% block title %} Grade Calculator {% endblock %}

{% block content %}
<html>
    <head>
        <title>Grade Calculator | Study University Scholar</title>
        <link rel="shortcut icon" type="image/png" href="static\pictures\SUS-Logo-Fav4.png">
    </head>

    <body>
        <table id="dataTable1" border="1" style="float: left;">
            <!-- <thead> -->
                <tr>
                    <th>Category 1 <input style="position: relative; float: right; width: 70px" type="text" placeholder="Weight (%)" id="weight"/></th>
                </tr>
            <!-- </thead> -->
            
            <!-- <tbody> -->
                <tr id="firstBodyRow">
                    <td>
                        <input type="text" style="width: 100px;" placeholder="Assignment Name" id="assignment"/>
                        <input type="text" style="width: 100px;" placeholder="Score" id="score"/>
                        <input type="text" style="width: 95px;" placeholder="Points Possible" id="pointspossible"/>
                    </td>
                </tr>
                
                <tfoot id="buttonChoices">
                    <td>
                    <input type="button" value="- Delete Row" onclick="deleteRow('dataTable1')"/>
                    <input type="button" value="+ Add Row" onclick="addRow('dataTable1')" id="row"/>
                    </td>
                </tfoot>
            <!-- </tbody> -->
        </table>

        <table id="dataTable2" border="1" style="float: left;">
            <!-- <thead> -->
                <tr>
                    <th>Category 2 <input style="position: relative; float: right; width: 70px" type="text" placeholder="Weight (%)" id="weight"/></th>
                </tr>
            <!-- </thead> -->
            
            <!-- <tbody> -->
                <tr id="firstBodyRow">
                    <td>
                        <input type="text" style="width: 100px;" placeholder="Assignment Name" id="assignment"/>
                        <input type="text" style="width: 100px;" placeholder="Score" id="score"/>
                        <input type="text" style="width: 95px;" placeholder="Points Possible" id="pointspossible"/>
                    </td>
                </tr>
                
                <tfoot id="buttonChoices">
                    <td>
                    <input type="button" value="- Delete Row" onclick="deleteRow('dataTable2')"/>
                    <input type="button" value="+ Add Row" onclick="addRow('dataTable2')" id="row"/>
                    </td>
                </tfoot>
            <!-- </tbody> -->
        </table>

        <table id="dataTable3" border="1" style="float: left;">
            <!-- <thead> -->
                <tr>
                    <th>Category 3 <input style="position: relative; float: right; width: 70px" type="text" placeholder="Weight (%)" id="weight"/></th>
                </tr>
            <!-- </thead> -->
            
            <!-- <tbody> -->
                <tr id="firstBodyRow">
                    <td>
                        <input type="text" style="width: 100px;" placeholder="Assignment Name" id="assignment"/>
                        <input type="text" style="width: 100px;" placeholder="Score" id="score"/>
                        <input type="text" style="width: 95px;" placeholder="Points Possible" id="pointspossible"/>
                    </td>
                </tr>
                
                <tfoot id="buttonChoices">
                    <td>
                    <input type="button" value="- Delete Row" onclick="deleteRow('dataTable3')"/>
                    <input type="button" value="+ Add Row" onclick="addRow('dataTable3')" id="row"/>
                    </td>
                </tfoot>
            <!-- </tbody> -->
        </table>

        <table id="dataTable4" border="1" style="float: left;">
            <!-- <thead> -->
                <tr>
                    <th>Category 4 <input style="position: relative; float: right; width: 70px" type="text" placeholder="Weight (%)" id="weight"/></th>
                </tr>
            <!-- </thead> -->
            
            <!-- <tbody> -->
                <tr id="firstBodyRow">
                    <td>
                        <input type="text" style="width: 100px;" placeholder="Assignment Name" id="assignment"/>
                        <input type="text" style="width: 100px;" placeholder="Score" id="score"/>
                        <input type="text" style="width: 95px;" placeholder="Points Possible" id="pointspossible"/>
                    </td>
                </tr>
                
                <tfoot id="buttonChoices">
                    <td>
                    <input type="button" value="- Delete Row" onclick="deleteRow('dataTable4')"/>
                    <input type="button" value="+ Add Row" onclick="addRow('dataTable4')" id="row"/>
                    </td>
                </tfoot>
            <!-- </tbody> -->
        </table>

        <table id="dataTable5" border="1" style="float: left;">
            <!-- <thead> -->
                <tr>
                    <th>Category 5 <input style="position: relative; float: right; width: 70px" type="text" placeholder="Weight (%)" id="weight"/></th>
                </tr>
            <!-- </thead> -->
            
            <!-- <tbody> -->
                <tr id="firstBodyRow">
                    <td>
                        <input type="text" style="width: 100px;" placeholder="Assignment Name" id="assignment"/>
                        <input type="text" style="width: 100px;" placeholder="Score" id="score"/>
                        <input type="text" style="width: 95px;" placeholder="Points Possible" id="pointspossible"/>
                    </td>
                </tr>
                
                <tfoot id="buttonChoices">
                    <td>
                    <input type="button" value="- Delete Row" onclick="deleteRow('dataTable5')"/>
                    <input type="button" value="+ Add Row" onclick="addRow('dataTable5')" id="row"/>
                    </td>
                </tfoot>
            <!-- </tbody> -->
        </table>
        
    <br clear="all"/>
    <!-- <input type="button" value="+ Add Column" id="addColumn" /> -->
        <div style="position: relative; float: right;">
        <input type="button" value="Show Percentage" class="form-button" onclick="calculate()"/></td>
    </div> 

    <div class="form-group showdata">
        <span>Results: <p id="showdata"></p></span>
    </div>

    <script src="static\js\calculator.js"></script>
	<script src="static\js\tableManipulation.js"></script>
</html>
{% endblock %}