{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<head>
    <title>Home | Study University Scholar</title>
    <link rel="shortcut icon" type="image/png" href="static\pictures\SUS-Logo-Fav4.png">
</head>

<table style="width: 100%; border: 0;">
    <tbody style="vertical-align: text-top;">
        <tr>
            <td class="force-border-remove" style="width: 70%">
                <h1>SLIDESHOW HERE</h1>
                <span class="highlight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at nulla porttitor, cursus dolor nec, gravida nulla. Quisque imperdiet mi vel tincidunt efficitur. Ut sem massa, scelerisque eu orci quis, posuere scelerisque ligula. Sed interdum malesuada sem non vulputate. Pellentesque felis sapien, maximus vel nisl at, commodo faucibus sapien. Nunc tincidunt sem elit, vel pulvinar velit ultricies id. Vivamus ac sagittis elit. Fusce id feugiat sapien, ac placerat purus. Nam eu tempor felis. Maecenas quis tincidunt ex. Donec sagittis, erat eu commodo cursus, ligula risus viverra justo, quis egestas dolor eros in massa. Nulla in ultrices urna. Praesent ut bibendum justo, sed consequat felis.</span>
            </td>
            <td class="force-border-remove">
                <h1>Word Content Here</h1>
                <span class="highlight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at nulla porttitor, cursus dolor nec, gravida nulla. Quisque imperdiet mi vel tincidunt efficitur. Ut sem massa, scelerisque eu orci quis, posuere scelerisque ligula. Sed interdum malesuada sem non vulputate. Pellentesque felis sapien, maximus vel nisl at, commodo faucibus sapien. Nunc tincidunt sem elit, vel pulvinar velit ultricies id. Vivamus ac sagittis elit. Fusce id feugiat sapien, ac placerat purus. Nam eu tempor felis. Maecenas quis tincidunt ex. Donec sagittis, erat eu commodo cursus, ligula risus viverra justo, quis egestas dolor eros in massa. Nulla in ultrices urna. Praesent ut bibendum justo, sed consequat felis.</span>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}