{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<head>
    <title>Home | Study University Scholar</title>
    <link rel="shortcut icon" type="image/png" href="static\pictures\SUS-Logo-Fav4.png">
</head>

<table class="force-border-remove" style="width: 100%; border: 0;">
    <tbody style="vertical-align: text-top;">
        <tr>
            <td style="width: 70%">
                <h2 style="text-decoration: underline;">STUDY UNIVERSITY SCHOLAR</h2>
                
                <div class = "slideshow-container">
                        <!--Image1-->
                        <div class="SLIDESHOW">
                            <img src="\static\pictures\group_pic.png" style="width: 100%;">
                            <div class="caption">SUS Group Collaborators</div>
                        </div>
                        <!--Image2-->
                        <div class="SLIDESHOW">
                            <img src="\static\pictures\grade-calc.png" style="width: 100%;">
                            <div class="caption">Grade Calculator</div>
                        </div>
                        <!--Image3-->
                        <div class="SLIDESHOW">
                            <img src="\static\pictures\calendar-reminder.png" style="width: 100%;">
                            <div class="caption">Calendar with Reminders</div>
                        </div>
                        <!--Image4-->
                        <div class="SLIDESHOW">
                            <img src="\static\pictures\flashcards.png" style="width: 100%;">
                            <div class="caption">Flashcards</div>
                        </div>

                        <a class="prev-slide" onClick="plusSlides(-1)">&#10094;</a>
                        <a class="next-slide" onClick="plusSlides(1)">&#10095;</a>

                

                    <div style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                        <span class="dot" onclick="currentSlide(4)"></span>
                    </div>
                </div>

            </td>
            <td>
                <h2 style="text-decoration: underline;">WHAT WE OFFER</h2>
                <ul>
                    <li style="text-transform: uppercase;">Grade Calculator</li>
                    <li style="text-transform: uppercase;">Calendar with Reminders</li>
                    <li style="text-transform: uppercase;">Flash Cards</li>
                    <li style="text-transform: uppercase;">Free account to store all your data</li>
                </ul>
              
            </td>
        </tr>
    </tbody>
</table>
<script src="static\js\slideshow.js"></script>
{% endblock %}