<!DOCTYPE html>
<html>
    <head>
			<meta charset="UTF-8">
            <!-- <title> SUS Website </title> -->
			<link rel="stylesheet" href="static\css\base.css">
            <link rel="stylesheet" href="static\css_mobile_extensions\slicknav.css">
    </head>

    <body>
		<header>
			<nav class="style-nav">
        
            	<ul id="menu">
                	<li><a href="#">Homepage</a></li>
                	<li><a href="#">Page 1</a></li>
                	<li><a href="#">Page 2</a></li>
               	 	<li><a href="#">Page 3</a></li>
                	<li><a href="#">About Us</a></li>
                	<li><a href="#">Purpose</a></li>
            	</ul>
				
				<script src="static\js_mobile\jquery-1.11.3.min.js"></script>
				<script src="static\js_mobile\jquery.slicknav.js"></script>
				<script>
					$(function(){
						$('#menu').slicknav();
					});
				</script>
			
			</nav>
		</header>
		
    </body>

</html> 