{% extends "base.html" %}

{% block title %} Log In {% endblock %}

{% block content %}
<head>
    <title>Log In | Study University Scholar</title>
</head>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action="#" method="post">
    <p>Name:</p>
    <p><input type="text" name="username" placeholder="Username" value="{{user if user}}"/></p>
    <p><input type="email" name="email" placeholder="Email" value="{{email if email}}"/></p>
    <p><input type="password" name="password" placeholder="Password" value="{{password if password}}"/></p>
    <p><input type="submit" value="Enter"/></p>
</form>
{% endblock %}