<!-- Do not maniplate any of the code in this file yet.
Assigned to Ryan only -->

{% extends "base.html" %}

{% block title %} Big Daddy's Test Page {% endblock %}

{% block content %}
<html>
    <head>
        <title>Big Daddy's Test Page</title>
        <link rel="shortcut icon" type="image/png" href="static\pictures\SUS-Logo-Fav4.png">
    </head>

    <body onload=realTimeDisplay();>
        <div class="timedisplay">
            <span>Output: <p id="timedisplay"></p></span>
        </div>
        <!-- <input type="button" value="Display Time" class="form-button" onclick="realTimeDisplay()"/> -->

        <!-- {% for item in values %}
            <div>Key: {{item.key}}<br/>Value: {{item.value}}<br/>User ID: {{item.user_id}}<br/></div>
        {% endfor %} -->
    </body>

    <script src="static\js\timeDisplay.js"></script>
</html>
{% endblock %}