{% extends "base.html" %}

{% block title %} Sign Up {% endblock %}

{% block content %}
<head>
    <title>Sign Up | Study University Scholar</title>
</head>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action="#" method="post">
    <p>Username:</p>
    <input type="text" name="username" placeholder="Enter New Username"/>
    <input type="email" name="email" placeholder="Enter Email"/></p>
    <input type="password" name="password" placeholder="Enter New Password"/></p>
    <input type="password" name="repassword" placeholder="Reenter New Password"/></p>
    <input type="submit" value="Enter"/></p>
</form>
{% endblock %}