{% extends "base.html" %}

{% block title %} User Page {% endblock %}

{% block content %}
<head>
    <title>User Page | User:{{user}} | Study University Scholar</title>
</head>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<p><span class="highlight">Welcome, {{user}}!<br/>Email: {{email}}<br/>ID: #{{id}}</span></p>
<form action="change-password">
    <p><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Change Password</button></p>
</form>
<!-- <form action="#" method="post">
    <input type="email" name="email" placeholder="Enter Email" value="{{email if email}}"/>
    <input type="submit" value="submit"/>
</form> -->

{% endblock %}